<!--<Page loaded="loaded">-->
    <ActionBar title="My Apple" class="action-bar"></ActionBar>

    <GridLayout columns="*, *, *, *" rows="*,*, *, *, *, *, *, *, *">

        <StackLayout colSpan="5" row="0" id="menu">
            <Label text="&#xf0c9;" class="font-awesome"> </Label>
            <Label text="{{ Menship }}" horizontalAlignment="center" verticalAlignment="center"></Label>
        </StackLayout>

        <GridLayout colSpan="5" row="1">
            <Label text="Welcome Mentee" horizontalAlignment="center" verticalAlignment="center"></Label>
        </GridLayout>

        <StackLayout orientation="vertical" colSpan="5" row="3" width="300" height="300">
            <Label text="Before you can search for a"  width="300">  </Label>
            <Label text="mentor you have to create a profile." width="300"></Label>
        </StackLayout>

        <StackLayout orientation="vertical" colSpan="5" row="4" width="300" height="300">
            <Label text="Please swipe left to get stated." width="300"></Label>
        </StackLayout>


    </GridLayout>
<!--</Page>-->